* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(36, 39, 58, 0.90);
}

button {
	border-radius: 0;
	border-color: #8aadf4;
	text-decoration-color: #cad3f5;
	color: #cad3f5;
	background-color: #1e2030;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(53, 57, 75);
	outline-style: none;
}

#lock {
    background-image: url("./blue/lock.svg");
}

#logout {
    background-image: url("./blue/logout.svg");
}

#suspend {
    background-image: url("./blue/suspend.svg");
}

#hibernate {
    background-image: url("./blue/hibernate.svg");
}

#shutdown {
    background-image: url("./blue/shutdown.svg");
}

#reboot {
    background-image: url("./blue/reboot.svg");
}